# ESP-IDF specific
**/build/
**/managed_components/
**/dependencies.lock
sdkconfig
sdkconfig.old

# Python
**/__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log